In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data loading

In [4]:
df_train_original = pd.read_excel("train.xlsx")
df_test_original = pd.read_excel("test.xlsx")

# Under the condition that test2.xslx has "target" column but all values are nan
df_train_original.columns = ["Id","Gender","Age","A1","A2","A3","A4","A5","Target"]
df_test_original.columns = ["Id","Gender","Age","A1","A2","A3","A4","A5","Target"] 


df_train_original["Gender"] = df_train_original["Gender"].map({"男":1.0,"女":0.0})
df_test_original["Gender"] = df_test_original["Gender"].map({"男":1.0,"女":0.0})

df_train_original = df_train_original.drop("Id", axis=1)
df_test_original = df_test_original.drop("Id", axis=1)

# Delete rows with NaN in training set

df_train_original = df_train_original.dropna(axis=0, how='any')

## Functions for Preprocessing
    - (Removal of columns)
    - (Add reciprocal features)
    - (Oversampling) 
    - Outlier removal on training set for numerical features
    - Polynomial expansion on numerical features
    - MinMax normalization

In [5]:
# Function for outlier removal
def IQR_Outliers (X, features):

    #print('# of features: ', len(features))
    #print('Features: ', features)

    indices = [x for x in X.index]
    #print(indices)
    #print('Number of samples: ', len(indices))
    
    out_indexlist = []
        
    for col in features:
       
        # Using nanpercentile instead of percentile because of nan values
        Q1 = np.nanpercentile(X[col], 25.)
        Q3 = np.nanpercentile(X[col], 75.)
        
        cut_off = (Q3 - Q1) * 2.5 # parameter 2.5 is to remove the most extreme outliers.
        #cut_off=0
        upper, lower = Q3 + cut_off, Q1 - cut_off
        #print ('\nFeature: ', col)
        #print ('Upper and Lower limits: ', upper, lower)
                
        outliers_index = X[col][(X[col] < lower) | (X[col] > upper)].index.tolist()
        outliers = X[col][(X[col] < lower) | (X[col] > upper)].values
        #print('Number of outliers: ', len(outliers))
        #print('Outliers Index: ', outliers_index)
        #print('Outliers: ', outliers)
        
        out_indexlist.extend(outliers_index)
        
    # Using set to remove duplicates
    out_indexlist = list(set(out_indexlist))
    out_indexlist.sort()
    #print('\nNumber of rows with outliers: ', len(out_indexlist))
    #print('List of rows with outliers: ', out_indexlist)
    
    return out_indexlist

In [6]:
from sklearn.preprocessing import PolynomialFeatures, MinMaxScaler, LabelEncoder
from sklearn.compose import ColumnTransformer
from imblearn.over_sampling import SMOTE


def preprocessing(df_train, df_test, target_name, drop_col, non_numeric_features, outlier_rem_func, deg_poly,
                  oversampling=False, oversampling_name=None, oversampling_range=None,
                  add_reciprocal_features=False, features_for_reciprocal=None):
    
    # Drop certain columns
    if drop_col:
        df_train = df_train.drop(drop_col, axis=1)
        df_test = df_test.drop(drop_col, axis=1)
        
    # Oversampling    
    if oversampling:
        # Split the minnority for oversampling 
        df_train["class"] = 0
        ind_oversampling = np.where(np.logical_and(df_train[oversampling_name]>oversampling_range[0], 
                                                   df_train[oversampling_name]<oversampling_range[1]))
        num_samples = ind_oversampling[0].shape[0]
                                                
        df_train["class"].iloc[ind_oversampling] = 1
            
        # Oversampling with SMOTE

        oversamp_data, oversamp_class = df_train.drop("class", axis=1), df_train["class"]

        oversamp_class = LabelEncoder().fit_transform(oversamp_class)

        print(ind_oversampling[0].shape)
        
        samp_strategy = {1: int(num_samples*1.5)} # Increase the minority by a factor 1.5
        oversampler = SMOTE(sampling_strategy=samp_strategy)

        oversamp_data, oversamp_class = oversampler.fit_resample(oversamp_data, oversamp_class)

        df_train = oversamp_data.copy()
        
    # Add reciprocal features:
    if add_reciprocal_features:
        for feature in features_for_reciprocal:
            df_train["1/{}".format(feature)] = 1.0 / df_train[feature].values
            df_test["1/{}".format(feature)] = 1.0 / df_test[feature].values
            
    # Extract the target
    y = df_train[target_name]
    
    # Remove outliers on training set for numerical features as well as target
    col_numeric_features_plus_target = list(df_train.columns)
    if non_numeric_features:
        for feature in non_numeric_features:
            col_numeric_features_plus_target.remove(feature)
    
    if outlier_rem_func:
    
        outlier_index = outlier_rem_func(df_train, col_numeric_features_plus_target)

        df_train = df_train.drop(index=outlier_index)
        y = y.drop(index=outlier_index)
        
    # Columns for numerical features for further polynomial transformation
    col_numeric_features_plus_target.remove("Target")
    col_numeric = col_numeric_features_plus_target.copy()

    df_numeric_train = df_train[col_numeric]
    df_numeric_test = df_test[col_numeric]
    
    # Polynomial transformation and append back to original dataframe
    
    p = PolynomialFeatures(degree=deg_poly, interaction_only=False).fit(df_numeric_train)
    
    df_train_X_withpoly = pd.DataFrame(p.transform(df_numeric_train), columns=p.get_feature_names_out(df_numeric_train.columns))
    df_test_X_withpoly = pd.DataFrame(p.transform(df_numeric_test), columns=p.get_feature_names_out(df_numeric_test.columns))
    
    if non_numeric_features:
        
        df_train_X_withpoly[non_numeric_features] = df_train[non_numeric_features].values
        df_test_X_withpoly[non_numeric_features] = df_test[non_numeric_features].values
    
    # Normalization on the polynomially transformed features

    n = MinMaxScaler().fit(df_train_X_withpoly)
    
    df_out_train = pd.DataFrame(n.transform(df_train_X_withpoly), columns=df_train_X_withpoly.columns)
    df_out_test = pd.DataFrame(n.transform(df_test_X_withpoly), columns=df_test_X_withpoly.columns)
    
    df_out_train[target_name] = y.values 
    
    return df_out_train, df_out_test

## Functions for evaluation

In [7]:
def check_acc(predictions, target):
    diff = (target - predictions) * 0.68
    count = sum(abs(diff)<0.5)
    # Return in percent
    return count / predictions.shape[0]

## Models

In [8]:
from pycaret.regression import *

### Model 1 with count 0.761
* no column removal, no oversampling, no reciprocal features
* 5th order polynomial transformation on ["A1", "A2", "A3", "A4", "A5"]
* ML model: Huber regression

In [8]:
# Preprocessing
df_trans_train, df_trans_test = preprocessing(df_train_original, df_test_original, target_name=["Target"],
                                              drop_col=None, non_numeric_features=["Gender", "Age"], 
                                              outlier_rem_func=IQR_Outliers, deg_poly=5)

# setup on pycaret for test purpose
exp_reg = setup(data = df_trans_train, target = "Target", session_id=1, bin_numeric_features=["Gender"],
                train_size=0.85, experiment_name="regression1", n_jobs=5, use_gpu=True)

[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1

[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1

In [9]:
# Create and primarily tune the model with pycaret

huber_params = {"alpha": [1e-7, 5e-7, 1e-6, 5e-6, 1e-5, 5e-5, 1e-4, 5e-4, 0.001, 0.005, 0.008, 0.01, 0.02, 0.03, 0.1, 1.0, 2.0, 3.0, 10.0],
               "epsilon": [1.03, 1.05, 1.07, 1.1, 1.3, 1.5, 1.7, 1.9, 2.1, 2.5, 3.0, 3.5, 4.5, 5.0, 10.0]}
huber = create_model('huber')

tuned_huber = tune_model(huber, n_iter=50, optimize="mae", choose_better=True, custom_grid=huber_params)

# Increase the max_iter manually due to insufficient computational power
paras_huber = dict(tuned_huber.get_params())
paras_huber["max_iter"] = 10000
paras_huber["tol"] = 1e-6

huber_manually_toned = create_model('huber', **paras_huber)

huber_final = finalize_model(huber_manually_toned)

save_model(huber_final, "model_huber_withAgeA5_poly5noAge_v2")

Initiated  . . . . . . . . . . . . . . . . . .              16:45:34
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Initiated  . . . . . . . . . . . . . . . . . .              16:45:42
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Fitting 10 folds for each of 50 candidates, totalling 500 fits

Initiated  . . . . . . . . . . . . . . . . . .              16:47:29
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=/tmp/joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['1', 'A1', 'A2', 'A3', 'A4', 'A5',
                                              'A1^2', 'A1 A2', 'A1 A3', 'A1 A4',
                                              'A1 A5', 'A2^2', 'A2 A3', 'A2 A4',
                                              'A2 A5', 'A3^2', 'A3 A4', 'A3 A5',
                                              'A4^2', 'A4 A5', 'A5^2', 'A1^3',
                                              'A1^2 A2', 'A1^2 A3', 'A1^2 A4',
                                              'A1^2 A5', 'A1 A2^2', 'A1 A2 A3',
                                              'A1 A2 A4', 'A1 A2 A5', ...],
                                     transformer=SimpleImputer()...
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('bin_numeric_features',
                  TransformerWrapper(include=['Gender'],
                                     transformer=KBinsDiscretizer(encode='ordinal',
                                                                  strategy='kmeans'))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator',
                  HuberRegressor(alpha=0.01, epsilon=5.0, max_iter=10000,
                                 tol=1e-06))]),
 'model_huber_withAgeA5_poly5noAge_v2.pkl')

In [9]:
model = load_model('model_huber_withAgeA5_poly5noAge_v2')

Transformation Pipeline and Model Successfully Loaded

In [12]:
# "Id","Gender","Age","A1","A2","A3","A4","A5","Target"
data = {'ID':1,'Gender':1.0, "Age":66, "A1":26.34,"A2":43.44,"A3":44.1,"A4":3.53,"A5":4.1}
input_df = pd.DataFrame([data])
_, df_pred = preprocessing(df_train_original, input_df, target_name=["Target"],
                                              drop_col=None, non_numeric_features=["Gender", "Age"], 
                                              outlier_rem_func=IQR_Outliers, deg_poly=5)
predictions = predict_model(model, df_pred)
predictions["prediction_label"][0]

11.964653467219478

### Model 2 with count 0.748
* no oversampling, no reciprocal features
* drop "A5"
* 5th order polynomial transformation on ["A1", "A2", "A3", "A4"]
* ML model: Huber regression

In [141]:
# Preprocessing
df_trans_train, df_trans_test = preprocessing(df_train_original, df_test_original, target_name=["Target"],
                                              drop_col=["A5"], non_numeric_features=["Gender", "Age"], 
                                              outlier_rem_func=IQR_Outliers, deg_poly=5)

# setup on pycaret for test purpose
exp_reg = setup(data = df_trans_train, target = "Target", session_id=1, bin_numeric_features=["Gender"],
                train_size=0.85, experiment_name="regression1", n_jobs=5, use_gpu=True)

In [142]:
# Create and primarily tune the model with pycaret
huber_params = {"alpha": [1e-7, 5e-7, 1e-6, 5e-6, 1e-5, 5e-5, 1e-4, 5e-4, 0.001, 0.005, 0.008, 0.01, 0.02, 0.03, 0.1, 1.0, 2.0, 3.0, 10.0],
               "epsilon": [1.03, 1.05, 1.07, 1.1, 1.3, 1.5, 1.7, 1.9, 2.1, 2.5, 3.0, 3.5, 4.5, 5.0, 10.0]}
huber = create_model('huber')

tuned_huber = tune_model(huber, n_iter=50, optimize="mae", choose_better=True, custom_grid=huber_params)

# Increase the max_iter manually due to insufficient computational power
paras_huber = dict(tuned_huber.get_params())
paras_huber["max_iter"] = 10000
paras_huber["tol"] = 1e-6

huber_manually_toned = create_model('huber', **paras_huber)

huber_final = finalize_model(huber_manually_toned)

save_model(huber_final, "model_huber_withAgeNoA5_poly5noAge")

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\KAIJIE\AppData\Local\Temp\joblib),
          steps=[('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('numerical_imputer',
                  TransformerWrapper(include=['1', 'A1', 'A2', 'A3', 'A4',
                                              'A1^2', 'A1 A2', 'A1 A3', 'A1 A4',
                                              'A2^2', 'A2 A3', 'A2 A4', 'A3^2',
                                              'A3 A4', 'A4^2', 'A1^3', 'A1^2 A2',
                                              'A1^2 A3', 'A1^2 A4', 'A1 A2^2',
                                              'A1 A...
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('bin_numeric_features',
                  TransformerWrapper(include=['Gender'],
                                     transformer=KBinsDiscretizer(encode='ordinal',
                                                                  strategy='kmeans'))),
                 ('actual_estimator',
                  HuberRegressor(alpha=5e-05, epsilon=3.5, max_iter=10000,
                                 tol=1e-06))]),
 'model_huber_withAgeNoA5_poly5noAge.pkl')

### Model 3 with count 0.761
* Oversampling of samples with 28.8 < A1 < 29.8
* Reciprocal features
* 3rd order polynomial transformation on ["A1", "A2", "A3", "A4", "A5"]
* ML model: Huber regression

In [128]:
# Preprocessing
df_trans_train, df_trans_test = preprocessing(df_train_original, df_test_original, target_name=["Target"],
                                              drop_col=None, non_numeric_features=["Gender", "Age"], 
                                              outlier_rem_func=IQR_Outliers, deg_poly=3,
                                              oversampling=True, oversampling_name="A1", oversampling_range=[28.8, 29.8],
                                              add_reciprocal_features=True, features_for_reciprocal=["A1", "A2", "A3", "A4", "A5"]
                                             )

# setup on pycaret for test purpose
exp_reg = setup(data = df_trans_train, target = "Target", session_id=1, bin_numeric_features=["Gender"],
                train_size=0.85, experiment_name="regression1", n_jobs=5, use_gpu=True)

(114,)

In [130]:
# Create and primarily tune the model with pycaret
huber_params = {"alpha": [1e-7, 5e-7, 1e-6, 5e-6, 1e-5, 5e-5, 1e-4, 5e-4, 0.001, 0.005, 0.008, 0.01, 0.02, 0.03, 0.1, 1.0, 2.0, 3.0, 10.0],
               "epsilon": [1.03, 1.05, 1.07, 1.1, 1.3, 1.5, 1.7, 1.9, 2.1, 2.5, 3.0, 3.5, 4.5, 5.0, 10.0]}
huber = create_model('huber')

tuned_huber = tune_model(huber, n_iter=50, optimize="mae", choose_better=True, custom_grid=huber_params)

# Increase the max_iter manually due to insufficient computational power
paras_huber = dict(tuned_huber.get_params())
paras_huber["max_iter"] = 10000
paras_huber["tol"] = 1e-6

huber_manually_toned = create_model('huber', **paras_huber)

huber_final = finalize_model(huber_manually_toned)

save_model(huber_final, "model_huber_withAgeA5_withrev_poly3noAge_OversampA1_28.8_29.8")

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\KAIJIE\AppData\Local\Temp\joblib),
          steps=[('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('numerical_imputer',
                  TransformerWrapper(include=['1', 'A1', 'A2', 'A3', 'A4', 'A5',
                                              '1/A1', '1/A2', '1/A3', '1/A4',
                                              '1/A5', 'A1^2', 'A1 A2', 'A1 A3',
                                              'A1 A4', 'A1 A5', 'A1 1/A1',
                                              'A1 1/A2', 'A1 1/A3', 'A1 1/A4',
                                              'A1 1/A...
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('bin_numeric_features',
                  TransformerWrapper(include=['Gender'],
                                     transformer=KBinsDiscretizer(encode='ordinal',
                                                                  strategy='kmeans'))),
                 ('actual_estimator',
                  HuberRegressor(alpha=1e-05, epsilon=1.3, max_iter=10000,
                                 tol=1e-06))]),
 'model_huber_withAgeA5_withrev_poly3noAge_OversampA1_28.8_29.8.pkl')